.container{
    margin-top: 20px;
}

.btn-send{
    align-self: flex-end;
    bottom: 0;
}

.col-btn{
    display: flex;
    flex-direction: row;
}

.col-separator{
    border-left: 1px solid rgb(182, 182, 182);
}

.container-task{
    border-bottom: 1px solid rgb(182, 182, 182);
    padding-bottom: 10px;
}
