<div class="container">
    <div class="card">
        <div class="card-header">
            <form (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-4">
                        <label for="name">Name</label>
                        <input type="text" class="form-control mb-2 mr-sm-2" id="name" placeholder="Name" required
                        [(ngModel)]="newTask.name" name="name">
                    </div>
                    <div class="col">
                        <label for="priority">Priority</label>
                        <input type="number" class="form-control mb-2 mr-sm-2" id="priority" value="1" required
                        [(ngModel)]="newTask.priority" name="priority">
                    </div>
                    <div class="col">
                        <label for="dueDate">Priority</label>
                        <input type="date" class="form-control mb-2 mr-sm-2" id="dueDate" required
                        [(ngModel)]="newTask.dueDate" name="dueDate">
                    </div>
                    <div class="col col-btn">
                        <label class="sr-only" for="name">Name</label>
                        <button type="submit" class="form-control mb-2 mr-sm-2 align-bottom btn btn-primary btn-send">Add Task</button>
                    </div>
                </div>
            </form>
        </div>
        <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="row row-order">
                <div class="col">
                    <span><strong>Order By</strong></span>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-dark"
                    (click)="setOrderBy('name')">Name</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-dark"
                    (click)="setOrderBy('priority')">Priority</button>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-dark"
                    (click)="setOrderBy('dueDate')">Due Date</button>
                </div>
            </div>
        </li>
        </ul>
        <div class="card-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title"><strong>Pending</strong></h5>
                        <div class="container container-task" *ngFor="let task of pendingTasks">
                            <div>Name: <i>{{task.name}}</i></div>
                            <div>Due Date: <i>{{task.dueDate}}</i></div>
                            <div>Priority: <i>{{task.priority}}</i></div>
                            <button type="button" class="btn btn-danger">Remove</button>
                        </div>
                    </div>
                    <div class="col col-separator">
                        <h5 class="card-title"><strong>Overdue</strong></h5>
                        <div class="container container-task" *ngFor="let task of overDueTasks">
                            <div>Name: <i>{{task.name}}</i></div>
                            <div>Due Date: <i>{{task.dueDate}}</i></div>
                            <div>Priority: <i>{{task.priority}}</i></div>
                            <button type="button" class="btn btn-danger">Remove</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
